.login-container button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-bottom: 16px;
}

/* 输入框和左侧标签布局 */
.referrer-container {
    display: flex;
    align-items: center; /* 标签垂直居中对齐输入框 */
    gap: 8px; /* 标签与输入框间距 */
}

.referrer-container input {
    padding: 8px;
    font-size: 14px;
    flex: 1; /* 输入框占剩余宽度 */
}
